.content {
  width: 100%;
  height: 100%;
  padding: 32rem 42rem 32rem 50rem;
}

.content__wrapper {
  margin-bottom: 38rem;
}

.content__title {
  font-family: $font-default;
  font-style: inherit;
  font-weight: 700;
  font-size: 24rem;
  line-height: 30rem;
  color: $text-default;
  margin: 0;
  margin-bottom: 15rem;
}

.content__info {
  font-family: $font-default;
  font-style: inherit;
  font-weight: 400;
  font-size: 12rem;
  line-height: 24rem;
  color: #8f7e7e;
  margin: 0;

  padding: 2rem 13rem;
  width: max-content;
  background: #e8dfdf;
  border-radius: 4rem;
  display: flex;
  align-items: center;
}
