.fields {
  position: relative;
}

.fields__list {
  @include list-reset;
  display: flex;
  overflow: scroll;
}

.fields__item {
  margin-right: 30rem;
}

.fields__item:last-child {
  margin-right: 0;
}

.fields--small .fields__list {
  flex-wrap: wrap;
  justify-content: center;
}

.fields--small .fields__item {
  margin-bottom: 30rem;
}

.fields--small .fields__item:nth-child(3n) {
  margin-right: 0;
}

.fields--small .card {
  width: 270rem;
}

.fields--small .card__name {
  height: 50rem;
}

.fields--small .card__title {
  padding: 0;
}

.fields--small .card__check {
  top: 13rem;
  right: 12rem;
}

.fields--small .slider {
  display: none;
}

.fields--image .card {
  width: 270rem;
  height: 90rem;
}

.fields--image .card__title {
  padding: 0;
}

.fields--image .card__name {
  height: 90rem;
}

.fields--image .card__check {
  top: 13rem;
  right: 12rem;
}

.fields--image .slider {
  display: none;
}

.fields--image .fields__list {
  flex-wrap: wrap;
  justify-content: center;
}

.fields--image .fields__item {
  margin-bottom: 30rem;
}

.fields--image .fields__item:nth-child(3n) {
  margin-right: 0;
}

.fields--image .fields__item:last-child {
  margin-bottom: 0;
}

.fields--column .fields__list {
  flex-direction: column;
  align-items: center;
}

.fields--column .fields__item {
  margin-right: 0;
}

.fields--column .card__name {
  padding: 10rem 16rem;
  justify-content: flex-start;
}

.fields--color .fields__list {
  justify-content: unset;
}

.fields--center .fields__list {
  align-items: center;
}

.fields--center .fields__item {
  margin-bottom: 0;
}

.fields--start .fields__list {
  justify-content: flex-start;
}

.fields--long .card {
  max-width: 308rem;
  width: 308rem;
}

.fields--long .fields__item:nth-child(3n) {
  margin-right: 30rem;
}

.fields--long .fields__item {
  margin-right: 30rem;
}

.fields--long .fields__item:nth-child(2n) {
  margin-right: 0;
}

.fields--long .card__name {
  justify-content: flex-start;
}

.fields--long .card__title {
  padding: 20rem;
  width: 100%;
  left: 100%;
  text-align: left;
}
