.info {
  background: #f4f4f4 url("../../img/gift-small.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  max-width: 238rem;
  width: 100%;
  height: 100%;
  padding: 26rem 12rem;
}

.info__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
}

.info__image {
  margin-right: 14rem;
}

.info__person {
  display: flex;
  flex-direction: column;
}

.info__name {
  font-family: $font-default;
  font-style: inherit;
  font-weight: 500;
  font-size: 14rem;
  color: $text-default;
}

.info__position {
  font-family: $font-default;
  font-style: inherit;
  font-weight: 400;
  font-size: 12rem;
  color: $text-description;
  margin: 0;
}

.info__message {
  background: url("../../img/icon-message.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 194rem;
  height: 108rem;
  padding: 22rem 11rem 14rem 11rem;
}

.info__text {
  font-family: $font-default;
  font-style: inherit;
  font-weight: 400;
  font-size: 12rem;
  line-height: 18rem;
  color: $text-default;
  margin: 0;
}
