@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "blocks/main.scss";
@import "blocks/form.scss";
@import "blocks/start.scss";
@import "blocks/button.scss";
@import "blocks/content.scss";
@import "blocks/controls.scss";
@import "blocks/fields.scss";
@import "blocks/card.scss";
@import "blocks/slider.scss";
@import "blocks/questions.scss";
@import "blocks/slide.scss";
@import "blocks/info.scss";
@import "blocks/complete.scss";
@import "blocks/contacts.scss";
