// Fonts
$font-default: "Gotham Pro", "Arial", sans-serif;

// Colors: Text colors
$text-default: #353533;
$text-additional: #ffffff;
$text-description: #8a8a8a;
$text-percent: #ad2320;

// Colors: Buttons colors
$button-default: #ad2320;

// Colors: Backgrounds colors
$background-default: #ffffff;
$background-shadow: #000000;
$background-value: #ad2320;
$background-whatsapp: #2eb742;
$background-telegram: #1e94d0;
$background-sms: #ff9c54;
$background-recall: #e85aaf;
$background-brown: #553d25;
$background-green: #2eb742;
$background-beige: #f9dec3;
$background-red: #ec2323;
$background-white: #ffffff;
$background-blue: #1e65d0;
$background-graphite: #a4a4a4;

// Colors: Border color
$border-default: #000000;

// Media width
$width-desktop: 1380px;
$width-tablet: 768px;
$width-mobile: 320px;

// Device resolution
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
